html {
    font-family: 'Inter', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    background: #F6F7F8;
 
}

.logoImg {
    width: 100.034px;
    /* height: 121.966px; */
    flex-shrink: 0;
    /* 
    position: fixed;
    top: 80px;
    left: 77px; */
}

.linkTo {
    width: 100%;
}

.arrowLeft {
    width: 37px;
    margin-left: 16px;
}

.signUpContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container-image-signup {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
}


form {
    position: relative;
    display: flex;
    width: 90%;
    max-width: 650px;
    padding: 16px 0 35px 0;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 30px;
    background: var(--white, #FFF);

    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

form h1 {
    color: #000;
    text-align: center;

    /* Version 2/t1 */
    font-size: 61px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

form input {
    display: flex;
    width: 100%;
    padding: 13px 21px;
    align-items: center;
    gap: 10px;
    color: black;
    border-radius: 10px;
    border: none;
    background: #FFF;
    font-size: 21px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

form input:focus {
    outline: none;
}



.nameBox, .emailBox, .passwordBox {
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.nameBox img {
    padding: 0 16px;
}

.emailBox img {
    padding: 0 16px;
}

.passwordBox img {
    padding: 0 16px;
}

form button {
    display: flex;
    width: 145px;
    height: 51px;
    padding: 4px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    background: #2A3647;
    color: white;
}

form button:hover {
    cursor: pointer;
    scale: 1.03;
}



@media only screen and (max-width: 1050px) {
    .logoImg {
        /* position: fixed;
        top: 37px;
        left: 38px; */
        width: 64px;
        /* height: 78.031px; */
    }

    form h1 {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 47px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 56.4px */
    }

    form input {
        display: flex;
        padding: 12px 21px;
        align-items: center;
        gap: 10px;
        align-self: stretch;
    }
}

@media only screen and (max-width: 700px) {
    .logoImg {
        /* position: fixed;
        top: 37px;
        left: 38px; */
        width: 64px;
        /* height: 78.031px; */
    }

    form h1 {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 47px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 56.4px */
    }

    form {
        width: 95%;
    }
}

@media only screen and (max-width: 425px) {

    
    form h1 {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 47px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 56.4px */
    }

}