html {
    font-family: 'Inter', sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #F6F7F8;
}

.logoImage {
    width: 100.034px;
    height: 121.966px;
    flex-shrink: 0;
    position: fixed;
    top: 80px;
    left: 77px;
}

.logoImage:hover {
    cursor: pointer;
    scale: 1.01;
}

form {
    position: relative;
    width: 826px;
    display: inline-flex;
    padding: 44px 85px;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    border-radius: 30px;
    background: var(--white, #FFF);

    /* shadoe backlog box */
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}

.arrowLeft {
    width: 37px;
    height: 37px;
    position: absolute;
    left: 31px;
    top: 34.5px;

}

form h1 {
    color: #000;
    text-align: center;

    /* Version 2/t1 */
    font-size: 61px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

form p {
    display: flex;
    width: 656px;
    flex-direction: column;

    color: #000;
    text-align: center;

    /* Version 2/t6 */
    font-size: 21px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

#newPassword, #confirmPassword, #email {
    display: flex;
    width: 422px;
    padding: 13px 21px;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--style, #D1D1D1);
    background: #FFF;
    color: var(--style, #D1D1D1);

    /* Version 2/t6 */
    font-size: 21px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}


.resetEmailInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.inputEmail {
    position: relative;
}

.inputEmail img {
    width: 20px;
    height: 18px;
    position: absolute;
    top: 18px;
    right: 20px;
}

form button {
    display: flex;
    width: 264px;
    height: 51px;
    padding: 4px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #2A3647;
    color: #FFF;
    font-size: 21px;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}


form button:hover {
    cursor: pointer;
    scale: 1.01;
}


#newPassword, #confirmPassword {
    color: var(--style, #D1D1D1);

    /* Version 2/t6 */
    font-size: 21px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.forgotPasswordBox {
    font-size: 21px;
    color: red;
    font-weight: 700;
    font-family: Inter;
    margin-top: -12px;
    margin-bottom: -12px;
    display: none;
}

.resetBox {
    font-size: 21px;
    color: red;
    font-weight: 700;
    font-family: Inter;
    margin-top: -12px;
    margin-bottom: -12px;
    display: none;
}


@media (max-width: 1150px) {
    .logoImage {
        width: 100.034px;
        height: 121.966px;
        top: 37px;
        left: 38px;
    }

    form {
        display: flex;
        padding: 32px 0px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .linkTo {
        position: absolute;
        top: 38px;
        left: 40px;
        width: 32px;
        height: 32px;
        z-index: 1;
    }

    .arrowLeft {
        position: absolute;
        top: 0px;
        left: 0px;
    }


    #email {
        display: flex;
        width: 364px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .textBox {
        color: #000;
        text-align: center;

        /* Version 2/t6 */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        /* 24px */
        width: 322px;
    }

    form h1 {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 48px */
        width: 315px;
        margin-bottom: -20px;
    }


    #newPassword, #confirmPassword {
        display: flex;
        width: 364px;
        padding: 13px 21px;
        align-items: center;
        gap: 10px;

        border-radius: 10px;
        border: 1px solid var(--style, #D1D1D1);
        background: #FFF;

        color: var(--style, #D1D1D1);

        /* Version 2/t6 */
        font-size: 21px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .resetTitle {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 48px */
    }

    .resetEmailInput {
        display: flex;
        width: 364px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

}

@media (max-width: 850px) {
    .logoImage {
        width: 64px;
        height: 78px;
        top: 37px;
        left: 38px;
    }

    
    
}

@media (max-width: 850px) {
    form {
        display: flex;
        width: 500px;
        padding: 32px 0px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
}

@media (max-width: 500px) {
    

    form {
        display: flex;
        width: 396px;
        padding: 32px 0px;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    .linkTo {
        position: absolute;
        top: 38px;
        left: 40px;
        width: 32px;
        height: 32px;
        z-index: 1;
    }

    .arrowLeft {
        position: absolute;
        top: 0px;
        left: 0px;
    }


    #email {
        display: flex;
        width: 364px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }

    .textBox {
        color: #000;
        text-align: center;

        /* Version 2/t6 */
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        /* 24px */
        width: 322px;
    }

    form h1 {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 48px */
        width: 315px;
        margin-bottom: -20px;
    }


    #newPassword, #confirmPassword{
        display: flex;
        width: 364px;
        padding: 13px 21px;
        align-items: center;
        gap: 10px;

        border-radius: 10px;
        border: 1px solid var(--style, #D1D1D1);
        background: #FFF;

        color: var(--style, #D1D1D1);

        /* Version 2/t6 */
        font-size: 21px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
    }

    .resetTitle {
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 48px */
    }

    .resetEmailInput {
        display: flex;
        width: 364px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

}